:root {
  --my-text-color: #172B4d;
  --my-green-color: green;
  --my-gray-color: #505f79;
}

html {
  background-color: none;
  font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*
Nav Section
Contains the union and the settings
*/

#settings {
  width: 90vw;
  display: flex;
}

#settings-date {
  width: 45vw;
  display: flex;
  justify-content: flex-start;
}

#settings-fa {
  width: 45vw;
  display: flex;
  justify-content: flex-end;
}

#settings-fa i {
  color: black;
  width: 20%; /* 2% for large screen */
}

#union {
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}

/*
Headline Section
*/

.headline {
  display: flex;
}

.headline-text {
  /* background-image: url(../images/Header-llustration-desktop@2x.png); */
  width: 60vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 1% auto 0 auto;
}

#headline-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0px;
  top: 0px;
}

.headline h1 {
  color: var(--my-text-color);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.green {
  color: var(--my-green-color);
}

.headline h2 {
  columns: var(--my-text-color);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center; /* Try to find out how to properly center with flex box*/
  margin: auto;
}

.social a {
  flex: 1;
  align-self: center;
  justify-content: space-around;
}

.social a i {
  color: var(--my-gray-color);
  width: 5%;
  height: 2%;
  font-size: x-large;
}

@media (min-width: 375px) {
  /*
  This property is for testing purpose
  body {
    background: blue;
  }
  */
  .social {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #settings-fa i {
    color: black;
    width: 12%; 
  }
}

@media (min-width: 768px) {
  /*
  This property is for testing purpose
  body {
    background: red;
  }
  */

  #settings-fa i {
    color: black;
    width: 10%; 
  }
}
