:root {
  --my-text-color: #172b4d;
  --my-accessibility-a-bg-color: white;
  --my-accessibility-a-color: #035c37;
  --my-green-color: #36b37e;
  --my-gray-color: #505f79;
  --image-placeholder-color: #d0d9d4;
  --image-placeholder-color1: #ebf0ee;
  --my-project-boutton-color: #036039;
  --my-competences-boxes-color: #c1c7d0;
}

html {
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  margin: 0;
  padding: 0%;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1%;
  /* background: black; */

  /* color: white; */
}

h1 {
  color: var(--my-green-color);
  font-style: normal;
  font-weight: bolder;
  font-size: large;
  text-align: right;
}

/* .recent-work-text h2, */
.headline-text h2,
h3,
span,
strong {
  font-size: medium;

  /* color: white; */
  text-align: right;
  color: white;
}

/* .recent-work-text h2,
.recent-work-text p, */
.headline-text h2,
.headline-text p {
  font-size: medium;
  color: white;
}

.spacing-default {
  margin: 5% auto;
}

/* p {
  color: var(--my-text-color);
} */

.right {
  align-self: flex-end;
}

/*
buttons
This is a requirement of linters
Expected selector ".project-buttons a" to come before selector ".social li a"
So I grouped all my buttons here
*/

.project-buttons,
.see-resume-button,
.form-button {
  background-color: var(--my-project-boutton-color);
  width: max-content;
  border: none;
  justify-content: center;
  border-radius: 4px;
  padding: 3% 3%;
  margin: 1% auto 5% auto;
}

.project-buttons a,
.see-resume-button a,
.form-button a {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: inherit;
  margin: inherit;
  align-content: center;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
}

button {
  background-color: var(--my-project-boutton-color);
  color: white;
  padding: 3% 3%;
  margin: 3% auto 10% auto;
  width: max-content;
  display: inline-block;
  border-radius: 4%;
}

.project-buttons:active,
.see-resume-button:active,
.form-button:active {
  background-color: #008552;
  box-shadow: 0 5px  #008552;
  transform: translateY(1%);
  color: white;
}

.project-buttons:hover,
.see-resume-button:hover,
.form-button:hover {
  background-color: var(--my-project-boutton-color);
  box-shadow: 0 8px 16px var(--my-project-boutton-color);
}

.project-buttons:enabled,
.see-resume-button:enabled,
.form-button:enabled {
  background-color: var(--my-project-boutton-color);
}

/*
Nav Section
Contains the hamburger menu for mobile-version and the nav-links for desktop-version
*/

header {
  position: relative;
  width: 100vw;
  margin: 0% auto 5% auto;

  /* background: url(../../images/mobile-bg/header-illsutration-mobile.svg) no-repeat; */
}

/*
Headline Section
*/

.mobile {
  width: 20%;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* margin: 10% auto 20% auto; */
  background-color: black;
  color: white;
}

.headline-text {
  width: 100%;
  margin: 12% 5% 0 5%;
  text-align: center;
}

.main-image {
  width: 100%;
  position: absolute;

  /* background: url(../img/bg-images/header.webp) no-repeat; */
}

.main-image img {
  width: 100%;
  margin-top: 8%;

  /* background: url(../img/bg-images/header.webp) no-repeat; */
}

.green {
  color: var(--my-accessibility-a-color);
}

.headline p,
.about-myself p {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.25rem;
}

.social {
  width: 50%;
  height: 1.226rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 10% auto;
}

.social li {
  width: 2%;
  flex: 1;
  text-align: center;
}

.social li a {
  color: var(--my-gray-color);
  width: 5%;
  height: 5%;
  font-size: x-large;
}

header .social {
  margin-bottom: 1%;
  width: 90%;
  align-self: flex-end;
  margin-right: 0;
  color: white;
}

.nav-menu li,
.headline .social li {
  margin: 3%;
  display: flex;
}

.nav-menu li a,
.headline .social li a {
  margin-bottom: 1%;
  display: flex;
}

/*
.social img {
  width: 100%;
}
*/

button .arrow {
  width: 100%;
  background-color: white;
  border: none;
  color: white;
  display: block;
}

.arrow img {
  width: 2%;
  margin: 0 49%;
  z-index: -1;
}

/*
Recent-work section
Contains The 6 microverse projects
*/

.recent-work {
  width: 100%;
  height: max-content;
  margin-top: 5%;
}

.recent-work-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 10% auto;
}

.recent-work-text h2,
.about-myself-text h2 {
  color: white;
}

.recent-work-text img {
  width: 10%;
  position: relative;
  margin: 10% auto 0% auto;
}

.projects {
  min-width: 100%;
  height: 100%;
  display: grid;
  gap: 1%;
  margin: 0;
}

.project {
  flex: 1;
  width: 92%;
  height: 29.625rem;
  display: flex;

  /* flex-direction: column-reverse; */
  border: 1px solid var(--image-placeholder-color);
  margin: 0 4%;
  position: relative;
}

.project-image div {
  background-color: transparent;
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

/**** TO DELETE *****/
.js-projectCard-image-desktop {
  background: url(../../images/popup/SnapshootPortfolioDesktop.svg);
  width: 100%;
  height: 100%;
}

.js-projectCard-image-mobile {
  background: url(../../images/popup/SnapshootPortfolioMobile.svg);
  width: 100%;
  height: 100%;
}

.img-placeholder {
  width: 100%;
  height: 75%;
}

/* .img-placeholder img{
  width: 100%;
  height: 100%;
} */

.project-wrapped-text {
  width: 100%;
  min-height: max-content;
  position: absolute;
  background-color: white;
  bottom: 0%;
  border-bottom: 1px solid var(--image-placeholder-color);
  text-align: center;
}

.sections-title h3 {
  max-height: 10%;
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 0%;
  margin-top: 3%;
}

.project .project-built-with,
.competences-card .list-competences {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 5% 0;
}

.project .project-built-with {
  margin-bottom: 5%;
}

.project .project-built-with li {
  background-color: var(--image-placeholder-color1);
  border-radius: 8px;
  margin: 0.5%;
  padding: 3%;
}

.poupup-items {
  width: fit-content;
  display: inline-block;
  background-color: var(--image-placeholder-color1);
  border-radius: 8px;
  margin: 0.5%;
  padding: 1%;
}

.competences-card .list-competences li {
  background-color: var(--my-accessibility-a-bg-color);
  border-radius: 8px;
  margin: 1%;
  padding: 3%;
}

.poupup-links,
.project .project-built-with li a,
.competences-card .list-competences li a {
  text-decoration: none;
  font-size: medium;
  border-radius: 8px;
  font-weight: 400;
}

.project .project-built-with li a {
  color: var(--my-text-color);
}

.competences-card .list-competences li a {
  color: var(--my-accessibility-a-color);
}

/*
About-myself section
languages, frameworks and skills
*/

/* .about-myself {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50% auto 50% auto;
 */

/* background: /* url(../../assets/img/bg-images/about-me-section.gif) no-repeat right bottom 0%, */

/*   url(../../assets/img/bg-images/about-me-section.gif) no-repeat right top 0%; */

/* background-size: 30%; */

/* } */

.about-myself-text {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 10% auto 0 auto;
}

.competences {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1%;
}

.competences-card {
  background-color: var(--image-placeholder-color1);
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 1% 4%;
  justify-content: stretch;
}

.competences-image {
  width: 100%;
  height: 30%;
  margin: 0% auto;
  border-radius: 8px;
}

.competences-image img {
  align-self: flex-start;
  width: 100%;
  margin: 0;
  border-radius: 8px;
}

.competences .sections-title {
  width: 100%;
  height: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*
Footer
Contains email and socials
*/

.footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text p {
  height: 10%;
  text-align: center;
  font-size: 1.25rem;
}

/* HEADER AND FOOTER DISPLAY OPTIONS */

.header .display-desktop {
  display: none;
}

.header .display-mobile {
  display: flex;
  top: 0;
  align-items: flex-end;
}

.header .display-mobile img {
  align-self: flex-end;
  margin-right: 1rem;
}

.headline .display-desktop,
.footer .display-desktop {
  display: none;
}

/*
HAMBURGER MENU DISPLACED DUE TO LINTERS ERROR
*/

@media (max-width: 280px) {
  .header-nav .display-mobile {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: hidden;
  }

  .header-nav .nav-menu {
    display: none;
  }

  .header-nav .hamburger-menu {
    position: fixed;
    height: 5vh;
    margin-top: 0%;
  }

  .header-nav .hamburger-navmenu {
    position: fixed;
    height: 100vh;
    margin-top: 10%;
  }

  .project .project-built-with li,
  .competences-card .list-competences li {
    width: 90%;
    text-align: center;
  }

  footer .social .display-mobile,
  .header .social .display-mobile {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .display-desktop {
    display: none;
  }
}

/*
  ADD PROJECT POPUP CSS
  - Add the Popup class (same as the html file and style it)
  --  Add .popup button and .popup h1, h2, h3 and p to respective
      class declarations in the different sections
  - Add the class open-popup (to be added in the javascript open function)
*/
.modal-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  top: 0;
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--my-competences-boxes-color);
  z-index: 999;
  overflow-y: scroll;
  filter: opacity(98%);
}

.project-popup {
  width: 100%;
  height: 90vh;
  position: absolute;
  background: var(--image-placeholder-color1);
  border-radius: 1%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 0;
  transition: transform 0.4s, visibility 0.4s, top 0.4s;
  visibility: hidden;  /* CHANGED FROM 'visible' ON 16/09/2023 */
  z-index: 100;
  backdrop-filter: blur(15px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  overflow-y: scroll;
}

.image-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
  height: 1%;
}

.image-buttons {
  width: 50%;
  height: 1%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke !important;
  color: var(--my-accessibility-a-color);
}

.js-project-popup-img {
  width: inherit;
  height: inherit;
}

.project-popup-desktop-img {
  /* aspect-ratio: 300/100; */
  width: 100%;
  height: 50%;
  margin-top: 3%;
  border-radius: 1%;
  border: 1px solid white;
}

.project-popup-mobile-img {
  /* aspect-ratio: 100/100; */
  width: 100%;
  height: 60% !important;
  margin-top: 3%;
  border-radius: 1%;
  border: 1px solid white;

  /* background: url(../../images/popup/SnapshootPortfolioMobile.svg) no-repeat center;
  background-size: 120%; */
}

.open-project-popup {
  width: 100%;
  height: 97vh;
  top: 3vh;
  left: 0%;
  transform: translate(-250%, -250%) scale(0.1);
  position: fixed;
  visibility: hidden;
  z-index: 1000;
  background-color: var(--image-placeholder-color);
}

.open-project-popup .active {
  visibility: visible;
}

.project-card-js {
  position: fixed;
  width: 80%;
  height: 80vh;
  top: 10%;
  left: 10%;
  background-color: white;
  z-index: 900;
  border-radius: 5%;
  overflow-y: scroll;
}

.project-card-js::-webkit-scrollbar {
  width: 12px;
}

.project-card-js::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.project-card-js::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/*
  STYLING THE JS CONTAINER
*/

.js-button-close {
  position: absolute;
  width: 5%;
  height: 5%;
  top: 2%;
  right: 8%;
  margin: 0;
  border: 0 solid var(--image-placeholder-color);
  border-radius: 5px;
  background: url(../img/popup/close-mobile.svg) no-repeat center;
  align-self: center;
  background-color: transparent;
}

.js-text-container {
  width: 90%;
  height: 100%;
  padding: 0.1% 5%;
  margin-top: 0%;
}

.js-title-div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.js-mobile-link-list {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.js-liveLink-img {
  width: 20%;
  height: 20%;
  background: url(../img/popup/button-see-live.svg) no-repeat center;
}

.js-sourceLink-img {
  width: 100%;
  height: 100%;
  background: url(../img/popup/button-see-source.svg) no-repeat center;
}

.js-liveLink-button {
  /*
  width: 20%;
  height: 20%;
  */
  background: url(../img/popup/button-see-live.svg) no-repeat center;
  background-size: 100%;
  color: transparent;
}

.js-sourceLink-button {
  background: url(../img/popup/button-see-source.svg) no-repeat center;
  background-size: 100%;
  color: transparent;
}

/* TO BE DELETED */
.js-text-container button {
  width: 40%;
  height: 40%;
  font-size: small;
  border-radius: 6%;
  background-color: var(--my-green-color);
  border: 1px solid white;
  padding: 3%;
}

.js-desktop-link-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: stretch;
}

/* P section */
.js-p-style {
  font-size: small;
  text-align: justify;
}

.technologyFragment {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0;
  justify-content: left;
  align-items: start;
}

.technologyFragment.li {
  padding: 0 1%;
  align-self: flex-start;
}

.technologyFragment.li.a {
  width: max-content;
  margin: 0 0.1%;
  padding: 1% 1%;
  color: var(--my-text-color);
  background-color: var(--image-placeholder-color);
  font-size: small;
}

.projectImageContainer {
  width: 100%;
  height: 60%;
}

.js-projectCards {
  background: none;
}

.js-desktop-projectCards {
  width: 100%;
  height: 100%;

  /* background: url(../../images/popup/SnapshootPortfolioDesktop.svg) no-repeat;
  background-size: 92%; */
}

.js-mobile-projectCards {
  width: 100%;
  height: 100%;
  margin-top: 0%;

  /* background: url(../../images/popup/SnapshootPortfolioMobile.svg) no-repeat center top 0;
  background-size: 92%; */
}

.js-projectCard-desktop-img {
  width: 100%;
  height: 100%;
  margin-top: 3%;
  border-radius: 1%;
  border: 1px solid white;
}

.js-projectCard-mobile-img {
  width: 100% !important;
  height: 100%;
  align-self: start;
  border-radius: 1%;
  border: 1px solid white;
  background: url(../../images/popup/SnapshootPortfolioMobile.svg) no-repeat;
  background-size: 100%;
}

.project-img .project-card-desktop-img img,
.project-img .project-card-mobile-img img {
  width: 100% !important;
  height: 100%;
}

/*
  MEDIA QUERIES
  - Add the media query for min-width: 280px
  - Add the media query for min-width: 375px
  - Add the media query for min-width: 768px
  - Add the media query for min-width: 912px
  - Add the media query for min-width: 1024px
  - Add the media query for min-width: 1280px
*/

@media (min-width: 375px) {
  .display-desktop {
    display: none;
  }

  .header-nav { /* height: 90vh; */
    top: 0;
    position: fixed;
  }

  .menu-fixed {
    position: fixed;
    z-index: 2;
  }

  .navbar {
    padding-top: 0; /* THAT WAS 30%  */
    overflow: hidden;
  }

  .hamburger-menu {
    visibility: visible;
  }

  .header-nav .display-mobile {
    width: 100%;
  }

  .social .display-mobile {
    width: 30%;
  }

  .header-nav .nav-menu {
    display: none;
  }

  .hamburger-navmenu {
    height: 110vh;
  }

  footer .social .display-mobile,
  header .social .display-mobile {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav .display-mobile img {
    align-self: flex-end;
  }

  /*
  THIS FOOTER IS TO BE FIWED FOR MIN-WIDTH: 375PX
  */

  .footer {
    margin-top: 30%;
  }

  /*
  HAMBURGER NAVMENU
  */

  .hamburger-navmenu li {
    height: 4%;
    width: 10%;
    padding-top: 0.1%;
    padding-left: 5%;
    text-align: center;
  }

  .hamburger-navmenu li a {
    line-height: 3rem;
    text-decoration: none;
    font-size: medium;
    color: var(--my-gray-color);
    padding: 0.1% 5%;
  }

  .hamburger-navmenu li:first-child {
    margin-top: 20%;
  }

  .hamburger-navmenu li:last-child {
    border-bottom: none;
    margin-bottom: 0%;
  }

  .hamburger-navmenu li a:hover {
    font-weight: bold;
  }

  .hamburger-navmenu li a p {
    font-size: 2rem;
    font-weight: 500;
  }

  .js-link-list {
    width: 80%;
    height: 15%;
    gap: 0;
    margin-left: 10%;
    display: inline-flex;
    align-content: center;
  }
}

@media (min-width: 768px) {
  body {
    position: relative;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1%;
    background: black;
  
    /* color: white; */
  }

  .mobile {
    width: 100%;
  }

  .header {
    height: 90vh;

    /* background:
      url(../../assets/img/bg-images/header.webp) no-repeat left top 10%,
      url(../../assets/img/bg-images/header.webp) no-repeat right bottom 0%;
    background-size: 25%; */
    filter: opacity(100%);
    border-radius: 20%;
  }

  .display-mobile,
  .header .display-mobile {
    display: none;
  }

  .header .display-desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .headline {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: auto;

    /* padding: 5% 0; */
    background-color: black;
    color: white;
  }

  .headline-outline {
    width: 30%;
    height: 100%;
    color: white;
    margin-top: 30%;
  }

  .headline-outline-text h4 {
    text-align: left;
    margin-right: 0;
    margin-top: 40%;
  }

  .headline-text {
    width: 15%;
    text-align: right;
    margin-top: 20%;
  }

  .main-image {
    width: 33%;
    height: 100%;
    position: relative;

    /* padding: 0 10%; */
  }

  .main-image img {
    width: 100%;
    height: 100%;
  }

  .headline-text h1 {
    color: var(--my-green-color);
    font-style: normal;
    font-weight: bolder;
    font-size: x-large;
    text-align: right;
  }

  .headline-text h2,
  h3,
  span,
  strong {
    font-size: medium;

    /* color: white; */
    text-align: right;
  }

  p {
    font-size: medium;
    text-align: left;
  }

  .spacing-default {
    margin: 3% auto;
  }

  .arrow {  /* TO CENTER */
    margin: 5% auto 2% auto;
  }

  .recent-work {
    width: 92%;
    margin: 0 4%;
  }

  .recent-work-text,
  .about-myself-text {
    margin: 0 auto 5% auto;
  }

  .recent-work-text img {
    width: auto;
    position: relative;
    margin: 1% auto 0% auto;
  }

  .social li a {
    color: var(--my-gray-color);
    width: 5%;
    height: 2%;
    font-size: x-large;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1% 0%;
    margin-left: 0;
  }

  .project {
    height: 29.625rem;
    margin: 0 0.1%;
    gap: 0.1%;
  }

  .about-myself {
    width: 100%;
    margin: 0;

    /* background:
      url(../../assets/img/bg-images/about-me-section.gif) no-repeat left top 25%,
      url(../../assets/img/bg-images/about-me-section.gif) no-repeat right top 0%;
    background-size: 15%; */
  }

  .competences {
    width: 92%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    order: 1;
    margin: 0 auto;
  }

  .competences-card {
    width: 33.333%;
    align-self: stretch;
    height: 19.75rem;
    border-radius: 0.5rem;
    margin: 1% 0.5%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .competences-image {
    width: 60%;
    margin: 5% auto 1% auto;
  }

  .competences-card .list-competences {
    margin: 5% auto 5% auto;
  }

  .see-resume-button,
  .form-button {
    padding: 1% 1%;
    margin: 2% auto 5% auto;
  }

  /* .contact-form-container {
    background: url(../../assets/img/bg-images/footer.webp) no-repeat left bottom 0%;

    /* url(../../images/desktop-bg/footer2.svg) no-repeat bottom 0% left 20%, */

  /* url(../../images/desktop-bg/footer3.svg) no-repeat right bottom 0%; */

  /* } */

  .contact-form-text {
    width: 50%;
  }

  .contact-form {
    width: 80%;
    margin: 0% auto;
    background-color: transparent;
    z-index: 0;
    display: flex;
    flex-direction: row;
  }

  .contact-heading {
    width: 95%;
  }

  .contact-heading h2 {
    text-align: left;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .form-button {
    margin-left: 0;
    width: max-content;
    height: 1.5rem;
    height: 100%;
    padding: 3% 3%;
  }

  textarea,
  input[type="text"],
  input[type="email"] {
    width: 98%;
    margin: 1% auto;
    padding: 5% 3%;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
  }

  input[type="text"]::placeholder {
    width: 98%;
    margin: 1% auto;
    padding: 0.5% 1%;
  }

  textarea {
    width: 98%;
    padding-left: 3%;
    padding-top: 2%;
    outline: none !important;
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  textarea::placeholder {
    padding: 2% 1.5%;
  }

  .footer {
    width: 100%;
    height: 1%;
    background-repeat: no-repeat;
    border-top: 1px solid var(--my-text-color);
    margin-bottom: 1%;
  }

  footer .social {
    margin-bottom: 1%;
  }

  .headline .display-desktop,
  .footer .display-desktop {
    display: flex;
    width: 10.63rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 1% auto;
  }

  /*
    ADD PROJECT POPUP CSS
    - Add the Popup class (same as the html file and style it)
    --  Add .popup button and .popup h1, h2, h3 and p to respective
        class declarations in the different sections
    - Add the class open-popup (to be added in the javascript open function)
  */

  .project-popup {
    width: 100%;
    position: absolute;
    background: var(--image-placeholder-color1);
    border-radius: 1%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 0;
    transition: transform 0.4s, visibility 0.4s, top 0.4s;
    visibility: hidden;   /* CHANGED FROM 'visible' SEPTEMBER 2023 */
  }

  .js-button-close {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 0%;
    right: 5%;
    margin: 0;
    border: 1px solid var(--image-placeholder-color);
    border-radius: 5px;
    background: url(../img/popup/close.svg) no-repeat center;
    align-self: center;
  }

  .project-card-js {
    position: fixed;
    width: 60%;
    height: 90vh;
    top: 5%;
    left: 20%;
    border-radius: 3%;
    overflow-y: scroll;
  }

  /*
    STYLING THE JS CONTAINER
  */

  .js-text-container {
    width: 90%;
    height: 100%;
    padding: 0.1% 5%;
    margin-top: 5%;
  }

  .js-title-div {
    width: 100%;
  }

  .js-text-container button {
    width: 50%;
    height: 20%;
    font-size: small;
    border-radius: 6%;
    background-color: var(--my-green-color);
    border: 1px solid white;
    padding: 1%;
  }

  .js-link-list {
    width: 40%;
    height: 200%;
    display: inline-flex;
  }

  .project-popup-desktop-img {
    height: 60% !important;
    background: url(../../images/popup/SnapshootPortfolioDesktop.svg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 912px) {
  .about-myself {
    width: 100%;
    margin: 0;
  }

  .headline p,
  .about-myself p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
  }

  .competences {
    width: 92%;
    margin: 0 4%;
  }

  .competences-card {
    width: 30%;
  }

  .competences-card .competences-image img {
    margin: 1% auto;
  }

  .form-bg-image {
    display: flex;
  }

  .footer {
    width: 100%;
    height: 1%;
    margin-bottom: 1%;
  }

  .headline .display-desktop,
  .footer .display-desktop {
    display: flex;
    width: 10.63rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 1% auto;
  }

  /*
    ADD PROJECT POPUP CSS
    - Add the Popup class (same as the html file and style it)
    --  Add .popup button and .popup h1, h2, h3 and p to respective
        class declarations in the different sections
    - Add the class open-popup (to be added in the javascript open function)
  */

  .project-popup {
    width: 100%;
    position: absolute;
    background: var(--image-placeholder-color1);
    border-radius: 5%;
    top: 0;
    left: 0;
    transform: translate(-250%, -250%) scale(0.1);
    text-align: center;
    padding: 0;
    transition: transform 0.4s, visibility 0.4s, top 0.4s;
    visibility: visible;
  }

  .project-card-js {
    position: fixed;
    width: 60%;
    height: 90vh;
    top: 5%;
    left: 20%;
    border-radius: 3%;
    overflow-y: scroll;
  }

  /*
    STYLING THE JS CONTAINER
  */

  .js-text-container {
    width: 90%;
    height: 100%;
    padding: 0.1% 5%;
    margin-top: 5%;
  }

  .js-title-div {
    width: 100%;
    height: 8%;
  }

  .js-text-container button {
    width: 50%; /* TO CHANGE */
    height: 50%;
    font-size: small;
    border-radius: 6%;
    background-color: var(--my-green-color);
    border: 1px solid white;
    padding: 1%;
  }

  .js-link-list {
    width: 40%;
    display: inline-flex;
  }
}

@media (min-width: 1024px) {
  .form-bg-image {
    display: flex;
  }

  /*
    ADD PROJECT POPUP CSS
    - Add the Popup class (same as the html file and style it)
    --  Add .popup button and .popup h1, h2, h3 and p to respective
        class declarations in the different sections
    - Add the class open-popup (to be added in the javascript open function)
  */

  .project-popup { /* transform: translateX(-250%, -250%) scale(0.1); */
    width: 100%;
    position: absolute;
    background: var(--image-placeholder-color1);
    border-radius: 1%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 0;
    transition: transform 0.4s, visibility 0.4s, top 0.4s;
    visibility: visible;
  }

  .project-card-js {
    position: fixed;
    width: 60%;
    height: 90vh;
    top: 5%;
    left: 20%;
    border-radius: 3%;
    overflow-y: scroll;
  }

  /*
    STYLING THE JS CONTAINER
  */

  .js-text-container {
    width: 90%;
    height: 100%;
    padding: 0.1% 5%;
    margin-top: 5%;
  }

  .js-title-div {
    width: 100%;
    height: 8%;
  }

  .js-text-container button {
    width: 50%;
    height: 50%;
    font-size: small;
    border-radius: 6%;
    background-color: var(--my-green-color);
    border: 1px solid white;
    padding: 1%;
  }

  .js-link-list {
    width: 40%;
    display: inline-flex;
  }
}

@media (min-width: 1280) {
  .form-bg-image {
    display: flex;
  }

  /*
    ADD PROJECT POPUP CSS
    - Add the Popup class (same as the html file and style it)
    --  Add .popup button and .popup h1, h2, h3 and p to respective
        class declarations in the different sections
    - Add the class open-popup (to be added in the javascript open function)
  */

  .project-popup {
    width: 100%;
    position: absolute;
    background: var(--image-placeholder-color1);
    border-radius: 1%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 0;
    transition: transform 0.4s, visibility 0.4s, top 0.4s;
    visibility: visible;
  }

  .project-card-js {
    position: fixed;
    width: 60%;
    height: 90vh;
    top: 5%;
    left: 20%;
    border-radius: 3%;
    overflow-y: scroll;
  }

  /*
    STYLING THE JS CONTAINER
  */

  .js-text-container {
    width: 90%;
    height: 100%;
    padding: 0.1% 5%;
    margin-top: 5%;
  }

  .js-title-div {
    width: 100%;
    height: 8%;
  }

  .js-text-container button {
    width: 50%;
    height: 50%;
    font-size: small;
    border-radius: 6%;
    background-color: var(--my-green-color);
    border: 1px solid white;
    padding: 1%;
  }

  .js-link-list {
    width: 40%;
    display: inline-flex;
  }
}
