@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
  --my-text-color: #172b4d;
  --my-accessibility-a-bg-color: white;
  --my-accessibility-a-color: #035c37;
  --my-green-color: #36b37e;
  --my-gray-color: #505f79;
  --image-placeholder-color: #d0d9d4;
  --image-placeholder-color1: #ebf0ee;
  --my-project-boutton-color: #036039;
  --my-competences-boxes-color: #c1c7d0;
}

html {
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  margin: 0;
  padding: 0%;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

h1 {
  color: var(--my-text-color);
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.25rem;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.25rem;
  text-align: center;
  letter-spacing: 1px;
}

h3 {
  color: #3a4a42;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.spacing-default {
  margin: 5% auto;
}

p {
  columns: var(--my-text-color);
  width: 100%;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
}

/*
buttons
This is a requirement of linters
Expected selector ".project-buttons a" to come before selector ".social li a"
So I grouped all my buttons here
*/

.project-buttons,
.see-resume-button,
.form-button {
  background-color: var(--my-project-boutton-color);
  width: max-content;
  border: none;
  justify-content: center;
  border-radius: 4px;
  padding: 3% 3%;
  margin: 1% auto 5% auto;
}

.project-buttons a,
.see-resume-button a,
.form-button a {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: inherit;
  margin: inherit;
  align-content: center;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
}

button {
  background-color: var(--my-project-boutton-color);
  color: white;
  padding: 3% 3%;
  margin: 3% auto 10% auto;
  width: max-content;
  display: inline-block;
  border-radius: 4%;
}

.project-buttons:active,
.see-resume-button:active,
.form-button:active {
  background-color: #008552;
  box-shadow: 0 5px  #008552;
  transform: translateY(1%);
  color: white;
}

.project-buttons:hover,
.see-resume-button:hover,
.form-button:hover {
  background-color: var(--my-project-boutton-color);
  box-shadow: 0 8px 16px var(--my-project-boutton-color);
}

.project-buttons:enabled,
.see-resume-button:enabled,
.form-button:enabled {
  background-color: var(--my-project-boutton-color);
}

/*
Nav Section
Contains the hamburger menue for mobile-version and the nav-links for desktop-version
*/

header {
  position: relative;
  width: 100vw;
  margin: 0% auto 5% auto;
  background: 
    url(../../images/mobile-bg/header-illsutration-mobile.svg) no-repeat;
}

.header-nav {
  position: fixed;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--image-placeholder-color); /* FOR TESTING */
  top: 0%;
  z-index: 1;
}

header .social {
  margin-bottom: 1%;
}

header .nav-menu li,
header .social li {
  margin: 3%;
  display: flex;
}

.nav-menu li a,
header .social li a {
  margin-bottom: 1%;
  display: flex;
}



/*ADDED HAMBURGER MENU*/ /*ADDED HAMBURGER MENU*/ /*ADDED HAMBURGER MENU*/ /*ADDED HAMBURGER MENU*/
.hamburger-menu {
  background-color: transparent; /*FOR TESTING PURPOSE*/
  width: 10%;
  height: 5vh;
  align-self: flex-end;
  margin: 0% 0 60% 0;
  z-index: 2;
  gap: 15%;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  cursor: pointer;
}

.header-nav .hamburger-bar {
  width: 2rem;
  height: 0.2rem;
  background-color: black; /**/
  transition: all 0.3s ease;
  margin: 1% 0;
  z-index: 999; 
}

/*
  ANIMATION TO TURN THE BARS TO AN "X"
  PSEUDO CLASS :ACTIVE TO BE ADDED DYNAMICLY WITH JAVASCRIPT 
*/
.hamburger-menu.active .hamburger-bar:nth-child(1) {
  transform: translateY(0.7rem) rotate(45deg);
}

.hamburger-menu.active .hamburger-bar:nth-child(3) {
  transform: translateY(-0.7rem) rotate(-45deg);
}

.hamburger-menu.active .hamburger-bar:nth-child(2) {
  opacity: 0;
}

/*
  NAV MENU WHEN WE CLIC ON THE HAMBURGER MENU
*/

.nav-menu {
  display: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.nav-menu a {
  text-decoration: none;
  color: var(--my-text-color);
  padding: 1% 5%;
}

.display-mobile {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0%;
}

.hamburger-navmenu {
  /*POSITION FIXED DOESN'T WORK*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;            /*TRY MIN-HEIGHT*/
  list-style-type: none;
  margin: 4rem auto 0 -120%;
  background-color: var(--my-accessibility-a-color);
  text-align: center;
  transform: translateX(-500);
  transition: 5s;
}

.hamburger-navmenu li {
  width: 10%;
  margin: 1% auto;
  padding: 0.5% 0;
  text-align: center;
  border-bottom: 1px solid var(--image-placeholder-color1);
}

.hamburger-navmenu li:last-child {
  border-bottom: none;
}

.hamburger-navmenu li a {
  text-decoration: none;
  font-size: medium;
  color: white;
  padding: 1% 5%;
}

.hamburger-navmenu li a:hover {
  font-weight: bold;
}

/*ADDED CLASS .HAMBURGER-NAVMENU.ACTIVE */

.hamburger-navmenu.active {
  margin-right: 0;
}

.showHamburgerNavMenu {
  transform: translate(0);
}
/*
Headline Section
*/

.headline {
  display: flex;
  margin-top: 30%;
  height: auto;
  width: 80%;   /* CHANGE THIS WIDTH TO 60%*/ /* CHANGE THIS WIDTH TO 60%*/ /* CHANGE THIS WIDTH TO 60%*/
  margin: 20% auto;
}

.green {
  color: var(--my-accessibility-a-color);
}

.headline p,
.about-myself p {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.25rem;
}

.social {
  width: 50%;
  height: 1.226rem;
  display: flex;
  justify-content: center;
  align-items: center; /* Try to find out how to properly center with flex box */
  list-style-type: none;
  margin: 10% auto;
}

.social li {
  width: 5%;
  flex: 1;
  text-align: center;
}

.social li a {
  color: var(--my-gray-color);
  width: 5%;
  height: 5%;           /* HEIGHT ISSUE TO FIX */
  font-size: x-large;
}

/*
.social img {
  width: 100%;
}
*/

button .arrow {
  width: 100%;
  background-color: white;
  border: none;
  color: white;
  display: block;
}

.arrow img {
  width: 2%;
  margin: 5% 48%;
}

/*
/*
Recent-work section
Contains The 6 microverse projects
*/

.recent-work { /* See if relevant */
  width: 100%;
  height: max-content;
}

.recent-work-text { /* See if relevant */
  display: flex;
  flex-direction: column;
}

.recent-work-text {
  width: 80%;
  margin: 0 auto 10% auto;
}

.recent-work-text h2,
.about-myself-text h2 {
  color: var(--my-text-color);
}

.recent-work-text img {
  width: 10%;
  position: relative;
  margin: 10% auto 0% auto;
}

.projects {
  min-width: 100%;
  min-height: 100%;                           /* HEIGHT ISSUE TO FIX */
  display: grid;
  gap: 1%;
  margin: 0;
}

.project {
  flex: 1;
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid var(--image-placeholder-color);
  margin: 0 4%;
  position: relative;
}

.project-image {
  background-color: var(--image-placeholder-color1);
  width: 100%;
  height: 100%;
}

.img-placeholder {
  width: 100%;
  height:max-content;                                 /* HEIGHT ISSUE TO FIX */
}

.project-wrapped-text {
  width: 100%;
  min-height:max-content;
  position: absolute;
  background-color: white;
  margin-bottom: 0%;
  border-bottom: 1px solid var(--image-placeholder-color);
  text-align: center;
}

.sections-title h3 {
  max-height: 10%;                            /* HEIGHT ISSUE TO FIX */
  width: 100%;
  text-align: center;
  padding: auto;
  margin-bottom: 0%;
  margin-top: 3%;
}

.project-built-with,
.list-competences {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 5% 0;
}

.project-built-with {
  margin-bottom: 5%;
}

.project-built-with li {
  background-color: var(--image-placeholder-color1);
  border-radius: 8px;
  margin: 0.5%;
  padding: 3%;
}

.list-competences li {
  background-color: var(--my-accessibility-a-bg-color);
  border-radius: 8px;
  margin: 1%;
  padding: 3%;
}

.project-built-with li a,
.list-competences li a {
  text-decoration: none;
  font-size: medium;
  border-radius: 8px;
  font-weight: 400;
}

.project-built-with li a {
  color: var(--my-text-color);
}

.list-competences li a {
  color: var(--my-accessibility-a-color);
}

/*
About-myself section
languages, frameworks and skills
*/
.about-myself {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50% auto 50% auto;
  background: 
  url(../../images/mobile-bg/about-me-mobile1.svg) no-repeat left bottom 70%,
  url(../../images/mobile-bg/about-me-mobile2.svg) no-repeat right top 0%;
  background-size: 12%;
}

.about-myself-text {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 10% auto 0 auto;
}

.competences {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1%;                             /* HEIGHT ISSUE TO FIX */
}

.competences-card {
  background-color: var(--image-placeholder-color1);
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 1% 4%;
  justify-content: stretch;
}

.competences-image {
  width: 100%;
  height: 30%;
  margin: 0% auto;
  border-radius: 8px;
}

.competences-image img {
  align-self: flex-start;
  width: 100%;
  margin: 0;
  border-radius: 8px;
}

.competences .sections-title {
  width: 100%;
  height: 20%;                              /* HEIGHT ISSUE TO FIX */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*
Contact form section
Contains a text in a header and the form
*/

.contact-form-text {
  width: 80%;
  margin: 8% auto;
  display: flex;
}

.contact-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #172b4d;
}

.contact-form {
  width: 90%;
  margin: 5% auto;
  background-color: transparent;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.contact-form-container {
  width: 100%;
  height: 100vh;                             /* HEIGHT ISSUE TO FIX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% auto;
}

form {
  width: 90%;
  flex-direction: column;
  margin: 8% auto;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5% 0;
  margin: 3% auto;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

textarea {
  width: 95%;
  padding-left: 5%;
  outline: none !important;
  border: 1px solid #60c095;
  resize: both;
  font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea::-webkit-resizer {
  background: url(../../images/Icons/Union.png) no-repeat center;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 0, 9375rem;
  line-height: 160%;
  padding: 5%;
}

textarea::placeholder {
  text-align: left;
  min-height: 7.125rem;
  padding-left: 5%;
}

/*
Footer
Contains email and socials
*/

.footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text p {
  height: 10%;
  text-align: center;
  font-size: 1.25rem;
}

/* HEADER AND FOOTER DISPLAY OPTIONS */

.header .display-desktop {
  display: none;
}

.header .display-mobile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header .display-mobile img {
  align-self: flex-end;
}

.headline .display-desktop,
.footer .display-desktop {
  display: none;
}

@media (max-width: 280px) {
  .project-built-with li,
  .list-competences li {
    width: 90%;
    text-align: center;
  }

  footer .social .display-mobile ,
  header .social .display-mobile{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .display-desktop {
    display: none;
  }

  .header .nav-menu {
    display: none;
  }
}

@media (min-width: 375px) {
  .display-desktop {
    display: none;
  }
  
  .header-nav .display-mobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .header-nav .nav-menu {
    display: none;
  }

  .header-nav .hamburger-menu {
    height: 5vh;
  }

  footer .social .display-mobile ,
  header .social .display-mobile{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav .display-mobile img {
    align-self: flex-end;
  }

  /*

  THIS FOOTER IS TO BE FIWED FOR MIN-WIDTH: 375PX

  */

  .footer {
    margin-top: 30%;
  }

}

@media (min-width: 768px) {
  /*
  This property is for testing purpose
  body {
    background: red;
  }
  */

  .about-myself {
    width: 100%;
    margin: 0;
  }

  .header {
    height: 100%;
    background: 
      url(../../images/desktop-bg/Header-llustration-desktop.svg) no-repeat top;
    background-size: 100%;
  }

  .header-nav .nav-menu {
    width: 100%;
    min-height: 70%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .display-mobile,
  .header .display-mobile {
    display: none;
  }

  .header .display-desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .headline {
    width: 50%;
    margin: auto;
    background: none;
    padding-top: 10%;
  }

  .spacing-default {
    margin: 3% auto;
  }

  .arrow {  /* TO CENTER */
    margin: -5% auto 2% auto;
  }

  .recent-work {
    width: 92%;
  }

  .recent-work-text,
  .about-myself-text {
    margin: 0 auto 5% auto;
  }

  .recent-work-text img {
    width: auto;
    position: relative;
    margin: 1% auto 0% auto;
  }

  .social li a {
    color: var(--my-gray-color);
    width: 5%;
    height: 2%;                               /* HEIGHT ISSUE TO FIX */
    font-size: x-large;
  }
  
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 1% 0%;
    margin-left: 0;
  }

  .project {
    min-height: 29.625rem;
    margin: 0 0.1%;
  }

  .about-myself {
    background: 
    url(../../images/mobile-bg/about-me-mobile1.svg) no-repeat left top 25%,
    url(../../images/mobile-bg/about-me-mobile2.svg) no-repeat right top 0%;
    background-size: 15%;
  }

  .competences {
    width: 92%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    order: 1;
    margin: 0;
  }

  .competences-card {
    width: 33.333%;
    align-self: stretch;
    height: 19.75rem;
    border-radius: 0.5rem;
    margin: 1% 0.5%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .competences-image {
    width: 60%;
    margin: 5% auto 1% auto;
  }

  .list-competences {
    margin: 5% auto 5% auto;
  }

  .see-resume-button,
  .form-button {
    padding: 1% 1%;
    margin: 2% auto 5% auto;
  }

  /* ALL THIS PART TO COMPARE AND FIX THE CONTACT FORM ISSUE*/ /* ALL THIS PART TO COMPARE AND FIX THE CONTACT */
  .contact-form-container {
    background: 
      url(../../images/desktop-bg/footer1.svg) no-repeat left bottom 0%,
      url(../../images/desktop-bg/footer2.svg) no-repeat bottom 0% left 20%,
      url(../../images/desktop-bg/footer3.svg) no-repeat right bottom 0%;
  }
  
  .contact-form-text {
    width: 50%;
  } 
  
  .contact-form {
    width: 80%;
    margin: 0% auto;
    background-color: transparent;
    z-index: 0;
    display: flex;
    flex-direction: row;
  }

  .contact-heading {
    width: 95%;
  }

  .contact-heading h2 {
    text-align: left;
  }
    
  form {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .form-button {
    margin-left: 0;
    width: max-content; 
    height: 1.5rem;
    height: 100%;
    padding: 3% 3%;
  }

  textarea,
  input[type="text"],
  input[type="email"] {
    margin: 1% auto;
    padding: 0.5% auto;
  }

  textarea {
    width: 98%;
    padding-left: 1%;
    outline: none !important;
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  textarea::placeholder {
    padding: 2% 1.5%;
  }

  .footer {
    width: 100%;
    height: 1%;
    background-repeat: no-repeat;
    border-top: 1px solid var(--my-text-color);
    margin-bottom: 1%;
  }

  footer .social {
    margin-bottom: 1%;
  }

  .headline .display-desktop,
  .footer .display-desktop {
    display: flex;
    width: 10.63rem;
    justify-content: center;
    align-items: center; /* Try to find out how to properly center with flex box */
    list-style-type: none;
    margin: 1% auto;
  }
}

@media (min-width: 912px) { 

  .about-myself {
    width: 92%;
  }

  .headline p,
  .about-myself p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
  }

  .competences {
    width: 92%;
    margin: 0 4%;
  }

  .competences-card {
    width: 30%;
  }

  .competences-card .competences-image img {
    margin: 1% auto;
  }

  .form-bg-image {
    display: flex;
  }

  .footer {
    width: 100%;
    height: 1%;
    margin-bottom: 1%;
  }

  .headline .display-desktop,
  .footer .display-desktop {
    display: flex;
    width: 10.63rem;
    justify-content: center;
    align-items: center; /* Try to find out how to properly center with flex box */
    list-style-type: none;
    margin: 1% auto;
  }
}

@media (min-width: 1024px) {
  .form-bg-image {
    display: flex;
  }
}

@media (min-width: 1280) {
  /* TRYING WITH THE DIV INSIDE A CONTAINER */

  .form-bg-image {
    display: flex;
  }
}
